@import url('http://fonts.googleapis.com/css/family=Quicksand400,500&subset=latin-ext');
body{
    padding: 100px;
    background-image: linear-gradient(-20deg, #ffff22 0%, #6944ff 90%);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
ul{
    margin-left: -45px;
}
li{
    list-style: none;
    display: inline-block;
}
.main{
    width: 800px;
    height: 520px;
    background-color: #fafafa;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 10px;
    border: 1px solid #eeeeee;
}

.img{
    background-image: url(../img/bidin.jpg);
    background-color: #eaeaea;
    background-size: cover;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid #eaeaea;
}
h1{
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    color: #6944ff;
}
.text{
    text-align: center;
    font-size: 15px;
    margin: 0;
    color: #324e63;
}
p{
    margin: 0 auto;
    padding-top: 20px;
    width: 450px;
    height: auto;
    color: #324e63;
}
button{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    background-color: #22a4cf;
    color: white;
    border: white 3px solid;
    border-radius: 5px;
    padding: 12px 20px;
    margin-top: 10px;

}